# .gitignore for maven 
target/
*.releaseBackup

# IDE support files
.idea/
*.iml
.classpath
.launch
.project
.settings/
/*.launch
/*.tmproj
/ivy*
/eclipse

# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*
/data/

# node
dist/
node_modules/

# ce-eureka-service/.DS_Store
.DS_Store

./output
*.class
